<div class="alert <%= bootstrap_class_for(message_type) %>">
  <div class="container text-center">
    <%= message %>
    <%# <button type="button" class="close" data-dismiss="alert"><span>×</span></button> %>
  </div>
</div>
